/node_modules/@mongodb-js/saslprep/dist/.esm-wrapper.mjs
/node_modules/mongodb-connection-string-url/.esm-wrapper.mjs
/node_modules/sparse-bitfield/.npmignore
/node_modules/.package-lock.json
/node_modules/memory-pager/.travis.yml
/node_modules/sparse-bitfield/.travis.yml
/node_modules/mongodb/lib/cursor/abstract_cursor.js
/node_modules/mongodb/lib/cursor/abstract_cursor.js.map
/node_modules/mongodb/src/cursor/abstract_cursor.ts
/node_modules/mongodb/lib/admin.js
/node_modules/mongodb/lib/admin.js.map
/node_modules/mongodb/src/admin.ts
/node_modules/mongodb/lib/operations/aggregate.js
/node_modules/mongodb/lib/operations/aggregate.js.map
/node_modules/mongodb/src/operations/aggregate.ts
/node_modules/mongodb/lib/cursor/aggregation_cursor.js
/node_modules/mongodb/lib/cursor/aggregation_cursor.js.map
/node_modules/mongodb/src/cursor/aggregation_cursor.ts
/node_modules/mongodb/lib/cmap/auth/auth_provider.js
/node_modules/mongodb/lib/cmap/auth/auth_provider.js.map
/node_modules/mongodb/src/cmap/auth/auth_provider.ts
/node_modules/mongodb/lib/client-side-encryption/auto_encrypter.js
/node_modules/mongodb/lib/client-side-encryption/auto_encrypter.js.map
/node_modules/mongodb/src/client-side-encryption/auto_encrypter.ts
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/automated_callback_workflow.js
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/automated_callback_workflow.js.map
/node_modules/mongodb/src/cmap/auth/mongodb_oidc/automated_callback_workflow.ts
/node_modules/mongodb/lib/client-side-encryption/providers/aws.js
/node_modules/mongodb/lib/client-side-encryption/providers/aws.js.map
/node_modules/mongodb/src/client-side-encryption/providers/aws.ts
/node_modules/mongodb/lib/cmap/auth/aws_temporary_credentials.js
/node_modules/mongodb/lib/cmap/auth/aws_temporary_credentials.js.map
/node_modules/mongodb/src/cmap/auth/aws_temporary_credentials.ts
/node_modules/mongodb/lib/client-side-encryption/providers/azure.js
/node_modules/mongodb/lib/client-side-encryption/providers/azure.js.map
/node_modules/mongodb/src/client-side-encryption/providers/azure.ts
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/azure_machine_workflow.js
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/azure_machine_workflow.js.map
/node_modules/mongodb/src/cmap/auth/mongodb_oidc/azure_machine_workflow.ts
/node_modules/bson/vendor/base64/base64.js
/node_modules/mongodb/lib/beta.d.ts
/node_modules/mongodb/lib/beta.js
/node_modules/mongodb/lib/beta.js.map
/node_modules/mongodb/src/beta.ts
/node_modules/bson/src/binary.ts
/node_modules/@mongodb-js/saslprep/dist/browser.d.ts
/node_modules/@mongodb-js/saslprep/dist/browser.d.ts.map
/node_modules/@mongodb-js/saslprep/dist/browser.js
/node_modules/@mongodb-js/saslprep/dist/browser.js.map
/node_modules/bson/lib/bson.bundle.js
/node_modules/bson/lib/bson.bundle.js.map
/node_modules/bson/lib/bson.cjs
/node_modules/bson/lib/bson.cjs.map
/node_modules/bson/bson.d.ts
/node_modules/mongodb/lib/bson.js
/node_modules/mongodb/lib/bson.js.map
/node_modules/bson/lib/bson.mjs
/node_modules/bson/lib/bson.mjs.map
/node_modules/bson/lib/bson.rn.cjs
/node_modules/bson/lib/bson.rn.cjs.map
/node_modules/bson/src/bson.ts
/node_modules/mongodb/src/bson.ts
/node_modules/bson/src/bson_value.ts
/node_modules/mongodb/lib/operations/bulk_write.js
/node_modules/mongodb/lib/operations/bulk_write.js.map
/node_modules/mongodb/src/operations/bulk_write.ts
/node_modules/bson/src/utils/byte_utils.ts
/node_modules/bson/src/parser/calculate_size.ts
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/callback_workflow.js
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/callback_workflow.js.map
/node_modules/mongodb/src/cmap/auth/mongodb_oidc/callback_workflow.ts
/node_modules/mongodb/lib/change_stream.js
/node_modules/mongodb/lib/change_stream.js.map
/node_modules/mongodb/src/change_stream.ts
/node_modules/mongodb/lib/cursor/change_stream_cursor.js
/node_modules/mongodb/lib/cursor/change_stream_cursor.js.map
/node_modules/mongodb/src/cursor/change_stream_cursor.ts
/node_modules/mongodb/lib/client-side-encryption/client_encryption.js
/node_modules/mongodb/lib/client-side-encryption/client_encryption.js.map
/node_modules/mongodb/src/client-side-encryption/client_encryption.ts
/node_modules/mongodb/lib/cmap/handshake/client_metadata.js
/node_modules/mongodb/lib/cmap/handshake/client_metadata.js.map
/node_modules/mongodb/src/cmap/handshake/client_metadata.ts
/node_modules/bson/src/code.ts
/node_modules/@mongodb-js/saslprep/dist/code-points-data.d.ts
/node_modules/@mongodb-js/saslprep/dist/code-points-data.d.ts.map
/node_modules/@mongodb-js/saslprep/dist/code-points-data.js
/node_modules/@mongodb-js/saslprep/dist/code-points-data.js.map
/node_modules/@mongodb-js/saslprep/dist/code-points-data-browser.d.ts
/node_modules/@mongodb-js/saslprep/dist/code-points-data-browser.d.ts.map
/node_modules/@mongodb-js/saslprep/dist/code-points-data-browser.js
/node_modules/@mongodb-js/saslprep/dist/code-points-data-browser.js.map
/node_modules/@mongodb-js/saslprep/dist/code-points-src.d.ts
/node_modules/@mongodb-js/saslprep/dist/code-points-src.d.ts.map
/node_modules/@mongodb-js/saslprep/dist/code-points-src.js
/node_modules/@mongodb-js/saslprep/dist/code-points-src.js.map
/node_modules/mongodb/lib/collection.js
/node_modules/mongodb/lib/collection.js.map
/node_modules/mongodb/src/collection.ts
/node_modules/mongodb/lib/operations/collections.js
/node_modules/mongodb/lib/operations/collections.js.map
/node_modules/mongodb/src/operations/collections.ts
/node_modules/mongodb/lib/operations/command.js
/node_modules/mongodb/lib/operations/command.js.map
/node_modules/mongodb/src/operations/command.ts
/node_modules/mongodb/lib/operations/client_bulk_write/command_builder.js
/node_modules/mongodb/lib/operations/client_bulk_write/command_builder.js.map
/node_modules/mongodb/src/operations/client_bulk_write/command_builder.ts
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/command_builders.js
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/command_builders.js.map
/node_modules/mongodb/src/cmap/auth/mongodb_oidc/command_builders.ts
/node_modules/mongodb/lib/cmap/command_monitoring_events.js
/node_modules/mongodb/lib/cmap/command_monitoring_events.js.map
/node_modules/mongodb/src/cmap/command_monitoring_events.ts
/node_modules/mongodb/lib/cmap/commands.js
/node_modules/mongodb/lib/cmap/commands.js.map
/node_modules/mongodb/src/cmap/commands.ts
/node_modules/mongodb/lib/bulk/common.js
/node_modules/mongodb/lib/operations/client_bulk_write/common.js
/node_modules/mongodb/lib/sdam/common.js
/node_modules/mongodb/lib/bulk/common.js.map
/node_modules/mongodb/lib/operations/client_bulk_write/common.js.map
/node_modules/mongodb/lib/sdam/common.js.map
/node_modules/mongodb/src/bulk/common.ts
/node_modules/mongodb/src/operations/client_bulk_write/common.ts
/node_modules/mongodb/src/sdam/common.ts
/node_modules/mongodb/lib/cmap/wire_protocol/compression.js
/node_modules/mongodb/lib/cmap/wire_protocol/compression.js.map
/node_modules/mongodb/src/cmap/wire_protocol/compression.ts
/node_modules/mongodb/lib/cmap/connect.js
/node_modules/mongodb/lib/cmap/connect.js.map
/node_modules/mongodb/src/cmap/connect.ts
/node_modules/mongodb/lib/cmap/connection.js
/node_modules/mongodb/lib/cmap/connection.js.map
/node_modules/mongodb/src/cmap/connection.ts
/node_modules/mongodb/lib/cmap/connection_pool.js
/node_modules/mongodb/lib/cmap/connection_pool.js.map
/node_modules/mongodb/src/cmap/connection_pool.ts
/node_modules/mongodb/lib/cmap/connection_pool_events.js
/node_modules/mongodb/lib/cmap/connection_pool_events.js.map
/node_modules/mongodb/src/cmap/connection_pool_events.ts
/node_modules/mongodb/lib/connection_string.js
/node_modules/mongodb/lib/connection_string.js.map
/node_modules/mongodb/src/connection_string.ts
/node_modules/mongodb/lib/cmap/wire_protocol/constants.js
/node_modules/mongodb/lib/constants.js
/node_modules/mongodb/lib/cmap/wire_protocol/constants.js.map
/node_modules/mongodb/lib/constants.js.map
/node_modules/bson/src/constants.ts
/node_modules/mongodb/src/cmap/wire_protocol/constants.ts
/node_modules/mongodb/src/constants.ts
/node_modules/mongodb/lib/operations/count.js
/node_modules/mongodb/lib/operations/count.js.map
/node_modules/mongodb/src/operations/count.ts
/node_modules/mongodb/lib/operations/search_indexes/create.js
/node_modules/mongodb/lib/operations/search_indexes/create.js.map
/node_modules/mongodb/src/operations/search_indexes/create.ts
/node_modules/mongodb/lib/operations/create_collection.js
/node_modules/mongodb/lib/operations/create_collection.js.map
/node_modules/mongodb/src/operations/create_collection.ts
/node_modules/mongodb/lib/client-side-encryption/crypto_callbacks.js
/node_modules/mongodb/lib/client-side-encryption/crypto_callbacks.js.map
/node_modules/mongodb/src/client-side-encryption/crypto_callbacks.ts
/node_modules/mongodb/lib/db.js
/node_modules/mongodb/lib/db.js.map
/node_modules/mongodb/src/db.ts
/node_modules/bson/src/db_ref.ts
/node_modules/bson/src/decimal128.ts
/node_modules/mongodb/lib/operations/delete.js
/node_modules/mongodb/lib/operations/delete.js.map
/node_modules/mongodb/src/operations/delete.ts
/node_modules/mongodb/lib/deps.js
/node_modules/mongodb/lib/deps.js.map
/node_modules/mongodb/src/deps.ts
/node_modules/bson/src/parser/deserializer.ts
/node_modules/mongodb/lib/operations/distinct.js
/node_modules/mongodb/lib/operations/distinct.js.map
/node_modules/mongodb/src/operations/distinct.ts
/node_modules/mongodb/lib/cmap/wire_protocol/on_demand/document.js
/node_modules/mongodb/lib/cmap/wire_protocol/on_demand/document.js.map
/node_modules/mongodb/src/cmap/wire_protocol/on_demand/document.ts
/node_modules/bson/src/double.ts
/node_modules/mongodb/lib/gridfs/download.js
/node_modules/mongodb/lib/gridfs/download.js.map
/node_modules/mongodb/src/gridfs/download.ts
/node_modules/mongodb/lib/operations/search_indexes/drop.js
/node_modules/mongodb/lib/operations/drop.js
/node_modules/mongodb/lib/operations/search_indexes/drop.js.map
/node_modules/mongodb/lib/operations/drop.js.map
/node_modules/mongodb/src/operations/search_indexes/drop.ts
/node_modules/mongodb/src/operations/drop.ts
/node_modules/bson/vendor/text-encoding/lib/encoding.js
/node_modules/whatwg-url/lib/encoding.js
/node_modules/bson/vendor/text-encoding/lib/encoding-indexes.js
/node_modules/mongodb/lib/encrypter.js
/node_modules/mongodb/lib/encrypter.js.map
/node_modules/mongodb/src/encrypter.ts
/node_modules/mongodb/lib/error.js
/node_modules/mongodb/lib/error.js.map
/node_modules/bson/src/error.ts
/node_modules/mongodb/src/error.ts
/node_modules/mongodb/lib/client-side-encryption/errors.js
/node_modules/mongodb/lib/cmap/errors.js
/node_modules/mongodb/lib/client-side-encryption/errors.js.map
/node_modules/mongodb/lib/cmap/errors.js.map
/node_modules/mongodb/src/client-side-encryption/errors.ts
/node_modules/mongodb/src/cmap/errors.ts
/node_modules/mongodb/lib/operations/estimated_document_count.js
/node_modules/mongodb/lib/operations/estimated_document_count.js.map
/node_modules/mongodb/src/operations/estimated_document_count.ts
/node_modules/mongodb/lib/sdam/events.js
/node_modules/mongodb/lib/sdam/events.js.map
/node_modules/mongodb/src/sdam/events.ts
/node_modules/mongodb/lib/operations/execute_operation.js
/node_modules/mongodb/lib/operations/execute_operation.js.map
/node_modules/mongodb/src/operations/execute_operation.ts
/node_modules/mongodb/lib/explain.js
/node_modules/mongodb/lib/explain.js.map
/node_modules/mongodb/src/explain.ts
/node_modules/bson/src/extended_json.ts
/node_modules/mongodb/lib/operations/find.js
/node_modules/mongodb/lib/operations/find.js.map
/node_modules/mongodb/src/operations/find.ts
/node_modules/mongodb/lib/operations/find_and_modify.js
/node_modules/mongodb/lib/operations/find_and_modify.js.map
/node_modules/mongodb/src/operations/find_and_modify.ts
/node_modules/mongodb/lib/cursor/find_cursor.js
/node_modules/mongodb/lib/cursor/find_cursor.js.map
/node_modules/mongodb/src/cursor/find_cursor.ts
/node_modules/whatwg-url/lib/Function.js
/node_modules/mongodb/lib/client-side-encryption/providers/gcp.js
/node_modules/mongodb/lib/client-side-encryption/providers/gcp.js.map
/node_modules/mongodb/src/client-side-encryption/providers/gcp.ts
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/gcp_machine_workflow.js
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/gcp_machine_workflow.js.map
/node_modules/mongodb/src/cmap/auth/mongodb_oidc/gcp_machine_workflow.ts
/node_modules/@mongodb-js/saslprep/dist/generate-code-points.d.ts
/node_modules/@mongodb-js/saslprep/dist/generate-code-points.d.ts.map
/node_modules/@mongodb-js/saslprep/dist/generate-code-points.js
/node_modules/@mongodb-js/saslprep/dist/generate-code-points.js.map
/node_modules/mongodb/lib/operations/get_more.js
/node_modules/mongodb/lib/operations/get_more.js.map
/node_modules/mongodb/src/operations/get_more.ts
/node_modules/mongodb/lib/cmap/auth/gssapi.js
/node_modules/mongodb/lib/cmap/auth/gssapi.js.map
/node_modules/mongodb/src/cmap/auth/gssapi.ts
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/human_callback_workflow.js
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/human_callback_workflow.js.map
/node_modules/mongodb/src/cmap/auth/mongodb_oidc/human_callback_workflow.ts
/node_modules/@mongodb-js/saslprep/dist/index.d.ts
/node_modules/@types/webidl-conversions/index.d.ts
/node_modules/@types/whatwg-url/index.d.ts
/node_modules/mongodb-connection-string-url/lib/index.d.ts
/node_modules/@mongodb-js/saslprep/dist/index.d.ts.map
/node_modules/@mongodb-js/saslprep/dist/index.js
/node_modules/bson/vendor/text-encoding/index.js
/node_modules/memory-pager/index.js
/node_modules/mongodb/lib/client-side-encryption/providers/index.js
/node_modules/mongodb/lib/gridfs/index.js
/node_modules/mongodb/lib/index.js
/node_modules/mongodb-connection-string-url/lib/index.js
/node_modules/sparse-bitfield/index.js
/node_modules/tr46/index.js
/node_modules/webidl-conversions/lib/index.js
/node_modules/whatwg-url/index.js
/node_modules/@mongodb-js/saslprep/dist/index.js.map
/node_modules/mongodb/lib/client-side-encryption/providers/index.js.map
/node_modules/mongodb/lib/gridfs/index.js.map
/node_modules/mongodb/lib/index.js.map
/node_modules/mongodb-connection-string-url/lib/index.js.map
/node_modules/bson/src/parser/on_demand/index.ts
/node_modules/bson/src/index.ts
/node_modules/mongodb/src/client-side-encryption/providers/index.ts
/node_modules/mongodb/src/gridfs/index.ts
/node_modules/mongodb/src/index.ts
/node_modules/mongodb/lib/operations/indexes.js
/node_modules/mongodb/lib/operations/indexes.js.map
/node_modules/mongodb/src/operations/indexes.ts
/node_modules/whatwg-url/lib/infra.js
/node_modules/mongodb/lib/operations/insert.js
/node_modules/mongodb/lib/operations/insert.js.map
/node_modules/mongodb/src/operations/insert.ts
/node_modules/bson/src/int_32.ts
/node_modules/mongodb/lib/operations/is_capped.js
/node_modules/mongodb/lib/operations/is_capped.js.map
/node_modules/mongodb/src/operations/is_capped.ts
/node_modules/mongodb/lib/operations/kill_cursors.js
/node_modules/mongodb/lib/operations/kill_cursors.js.map
/node_modules/mongodb/src/operations/kill_cursors.ts
/node_modules/bson/src/utils/latin.ts
/node_modules/@mongodb-js/saslprep/LICENSE
/node_modules/@types/webidl-conversions/LICENSE
/node_modules/@types/whatwg-url/LICENSE
/node_modules/memory-pager/LICENSE
/node_modules/mongodb-connection-string-url/LICENSE
/node_modules/sparse-bitfield/LICENSE
/node_modules/bson/vendor/text-encoding/LICENSE.md
/node_modules/bson/LICENSE.md
/node_modules/mongodb/LICENSE.md
/node_modules/tr46/LICENSE.md
/node_modules/webidl-conversions/LICENSE.md
/node_modules/whatwg-url/LICENSE.txt
/node_modules/bson/vendor/base64/LICENSE-MIT.txt
/node_modules/punycode/LICENSE-MIT.txt
/node_modules/mongodb/lib/operations/list_collections.js
/node_modules/mongodb/lib/operations/list_collections.js.map
/node_modules/mongodb/src/operations/list_collections.ts
/node_modules/mongodb/lib/cursor/list_collections_cursor.js
/node_modules/mongodb/lib/cursor/list_collections_cursor.js.map
/node_modules/mongodb/src/cursor/list_collections_cursor.ts
/node_modules/mongodb/lib/operations/list_databases.js
/node_modules/mongodb/lib/operations/list_databases.js.map
/node_modules/mongodb/src/operations/list_databases.ts
/node_modules/mongodb/lib/cursor/list_indexes_cursor.js
/node_modules/mongodb/lib/cursor/list_indexes_cursor.js.map
/node_modules/mongodb/src/cursor/list_indexes_cursor.ts
/node_modules/mongodb/lib/cursor/list_search_indexes_cursor.js
/node_modules/mongodb/lib/cursor/list_search_indexes_cursor.js.map
/node_modules/mongodb/src/cursor/list_search_indexes_cursor.ts
/node_modules/bson/src/long.ts
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/machine_workflow.js
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/machine_workflow.js.map
/node_modules/mongodb/src/cmap/auth/mongodb_oidc/machine_workflow.ts
/node_modules/tr46/lib/mappingTable.json
/node_modules/bson/src/max_key.ts
/node_modules/@mongodb-js/saslprep/dist/memory-code-points.d.ts
/node_modules/@mongodb-js/saslprep/dist/memory-code-points.d.ts.map
/node_modules/@mongodb-js/saslprep/dist/memory-code-points.js
/node_modules/@mongodb-js/saslprep/dist/memory-code-points.js.map
/node_modules/mongodb/lib/cmap/metrics.js
/node_modules/mongodb/lib/cmap/metrics.js.map
/node_modules/mongodb/src/cmap/metrics.ts
/node_modules/bson/src/min_key.ts
/node_modules/mongodb/lib/mongo_client.js
/node_modules/mongodb/lib/mongo_client.js.map
/node_modules/mongodb/src/mongo_client.ts
/node_modules/mongodb/lib/mongo_client_auth_providers.js
/node_modules/mongodb/lib/mongo_client_auth_providers.js.map
/node_modules/mongodb/src/mongo_client_auth_providers.ts
/node_modules/mongodb/lib/cmap/auth/mongo_credentials.js
/node_modules/mongodb/lib/cmap/auth/mongo_credentials.js.map
/node_modules/mongodb/src/cmap/auth/mongo_credentials.ts
/node_modules/mongodb/lib/mongo_logger.js
/node_modules/mongodb/lib/mongo_logger.js.map
/node_modules/mongodb/src/mongo_logger.ts
/node_modules/mongodb/lib/mongo_types.js
/node_modules/mongodb/lib/mongo_types.js.map
/node_modules/mongodb/src/mongo_types.ts
/node_modules/mongodb/lib/cmap/auth/mongocr.js
/node_modules/mongodb/lib/cmap/auth/mongocr.js.map
/node_modules/mongodb/src/cmap/auth/mongocr.ts
/node_modules/mongodb/lib/client-side-encryption/mongocryptd_manager.js
/node_modules/mongodb/lib/client-side-encryption/mongocryptd_manager.js.map
/node_modules/mongodb/src/client-side-encryption/mongocryptd_manager.ts
/node_modules/mongodb/mongodb.d.ts
/node_modules/mongodb/lib/cmap/auth/mongodb_aws.js
/node_modules/mongodb/lib/cmap/auth/mongodb_aws.js.map
/node_modules/mongodb/src/cmap/auth/mongodb_aws.ts
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc.js
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc.js.map
/node_modules/mongodb/src/cmap/auth/mongodb_oidc.ts
/node_modules/mongodb/lib/sdam/monitor.js
/node_modules/mongodb/lib/sdam/monitor.js.map
/node_modules/mongodb/src/sdam/monitor.ts
/node_modules/@mongodb-js/saslprep/dist/node.d.ts
/node_modules/@mongodb-js/saslprep/dist/node.d.ts.map
/node_modules/@mongodb-js/saslprep/dist/node.js
/node_modules/@mongodb-js/saslprep/dist/node.js.map
/node_modules/bson/src/utils/node_byte_utils.ts
/node_modules/bson/src/utils/number_utils.ts
/node_modules/bson/src/objectid.ts
/node_modules/mongodb/lib/cmap/wire_protocol/on_data.js
/node_modules/mongodb/lib/cmap/wire_protocol/on_data.js.map
/node_modules/mongodb/src/cmap/wire_protocol/on_data.ts
/node_modules/mongodb/lib/operations/operation.js
/node_modules/mongodb/lib/operations/operation.js.map
/node_modules/mongodb/src/operations/operation.ts
/node_modules/mongodb/lib/operations/options_operation.js
/node_modules/mongodb/lib/operations/options_operation.js.map
/node_modules/mongodb/src/operations/options_operation.ts
/node_modules/mongodb/lib/bulk/ordered.js
/node_modules/mongodb/lib/bulk/ordered.js.map
/node_modules/mongodb/src/bulk/ordered.ts
/node_modules/@mongodb-js/saslprep/package.json
/node_modules/@types/webidl-conversions/package.json
/node_modules/@types/whatwg-url/package.json
/node_modules/bson/vendor/base64/package.json
/node_modules/bson/vendor/text-encoding/package.json
/node_modules/bson/package.json
/node_modules/memory-pager/package.json
/node_modules/mongodb/package.json
/node_modules/mongodb-connection-string-url/package.json
/node_modules/punycode/package.json
/node_modules/sparse-bitfield/package.json
/node_modules/tr46/package.json
/node_modules/webidl-conversions/package.json
/node_modules/whatwg-url/package.json
/package.json
/package-lock.json
/node_modules/bson/src/parser/on_demand/parse_to_elements.ts
/node_modules/bson/src/parse_utf8.ts
/node_modules/whatwg-url/lib/percent-encoding.js
/node_modules/mongodb/lib/cmap/auth/plain.js
/node_modules/mongodb/lib/cmap/auth/plain.js.map
/node_modules/mongodb/src/cmap/auth/plain.ts
/node_modules/bson/etc/prepare.js
/node_modules/mongodb/etc/prepare.js
/node_modules/mongodb/lib/operations/profiling_level.js
/node_modules/mongodb/lib/operations/profiling_level.js.map
/node_modules/mongodb/src/operations/profiling_level.ts
/node_modules/mongodb/lib/cmap/auth/providers.js
/node_modules/mongodb/lib/cmap/auth/providers.js.map
/node_modules/mongodb/src/cmap/auth/providers.ts
/node_modules/punycode/punycode.es6.js
/node_modules/punycode/punycode.js
/node_modules/mongodb/lib/read_concern.js
/node_modules/mongodb/lib/read_concern.js.map
/node_modules/mongodb/src/read_concern.ts
/node_modules/mongodb/lib/read_preference.js
/node_modules/mongodb/lib/read_preference.js.map
/node_modules/mongodb/src/read_preference.ts
/node_modules/@types/webidl-conversions/README.md
/node_modules/@types/whatwg-url/README.md
/node_modules/bson/vendor/base64/README.md
/node_modules/bson/vendor/text-encoding/README.md
/node_modules/bson/README.md
/node_modules/memory-pager/README.md
/node_modules/mongodb/README.md
/node_modules/mongodb-connection-string-url/README.md
/node_modules/punycode/README.md
/node_modules/sparse-bitfield/README.md
/node_modules/tr46/README.md
/node_modules/webidl-conversions/README.md
/node_modules/whatwg-url/README.md
/node_modules/@mongodb-js/saslprep/readme.md
/node_modules/mongodb-connection-string-url/lib/redact.d.ts
/node_modules/mongodb-connection-string-url/lib/redact.js
/node_modules/mongodb-connection-string-url/lib/redact.js.map
/node_modules/tr46/lib/regexes.js
/node_modules/bson/src/regexp.ts
/node_modules/mongodb/lib/operations/remove_user.js
/node_modules/mongodb/lib/operations/remove_user.js.map
/node_modules/mongodb/src/operations/remove_user.ts
/node_modules/mongodb/lib/operations/rename.js
/node_modules/mongodb/lib/operations/rename.js.map
/node_modules/mongodb/src/operations/rename.ts
/node_modules/mongodb/lib/resource_management.js
/node_modules/mongodb/lib/resource_management.js.map
/node_modules/mongodb/src/resource_management.ts
/node_modules/mongodb/lib/cmap/wire_protocol/responses.js
/node_modules/mongodb/lib/cmap/wire_protocol/responses.js.map
/node_modules/mongodb/src/cmap/wire_protocol/responses.ts
/node_modules/mongodb/lib/operations/run_command.js
/node_modules/mongodb/lib/operations/run_command.js.map
/node_modules/mongodb/src/operations/run_command.ts
/node_modules/mongodb/lib/cursor/run_command_cursor.js
/node_modules/mongodb/lib/cursor/run_command_cursor.js.map
/node_modules/mongodb/src/cursor/run_command_cursor.ts
/node_modules/mongodb/lib/cmap/auth/scram.js
/node_modules/mongodb/lib/cmap/auth/scram.js.map
/node_modules/mongodb/src/cmap/auth/scram.ts
/node_modules/bson/src/parser/serializer.ts
/node_modules/mongodb/lib/sdam/server.js
/node_modules/mongodb/lib/sdam/server.js.map
/node_modules/mongodb/src/sdam/server.ts
/node_modules/mongodb/lib/sdam/server_description.js
/node_modules/mongodb/lib/sdam/server_description.js.map
/node_modules/mongodb/src/sdam/server_description.ts
/node_modules/mongodb/lib/sdam/server_selection.js
/node_modules/mongodb/lib/sdam/server_selection.js.map
/node_modules/mongodb/src/sdam/server_selection.ts
/node_modules/mongodb/lib/sdam/server_selection_events.js
/node_modules/mongodb/lib/sdam/server_selection_events.js.map
/node_modules/mongodb/src/sdam/server_selection_events.ts
/node_modules/mongodb/lib/sessions.js
/node_modules/mongodb/lib/sessions.js.map
/node_modules/mongodb/src/sessions.ts
/node_modules/mongodb/lib/operations/set_profiling_level.js
/node_modules/mongodb/lib/operations/set_profiling_level.js.map
/node_modules/mongodb/src/operations/set_profiling_level.ts
/node_modules/mongodb/lib/cmap/wire_protocol/shared.js
/node_modules/mongodb/lib/cmap/wire_protocol/shared.js.map
/node_modules/mongodb/src/cmap/wire_protocol/shared.ts
/node_modules/mongodb/lib/sort.js
/node_modules/mongodb/lib/sort.js.map
/node_modules/mongodb/src/sort.ts
/node_modules/mongodb/lib/sdam/srv_polling.js
/node_modules/mongodb/lib/sdam/srv_polling.js.map
/node_modules/mongodb/src/sdam/srv_polling.ts
/node_modules/mongodb/lib/client-side-encryption/state_machine.js
/node_modules/mongodb/lib/client-side-encryption/state_machine.js.map
/node_modules/mongodb/src/client-side-encryption/state_machine.ts
/node_modules/mongodb/lib/operations/stats.js
/node_modules/mongodb/lib/operations/stats.js.map
/node_modules/mongodb/src/operations/stats.ts
/node_modules/tr46/lib/statusMapping.js
/node_modules/mongodb/lib/cmap/stream_description.js
/node_modules/mongodb/lib/cmap/stream_description.js.map
/node_modules/mongodb/src/cmap/stream_description.ts
/node_modules/bson/src/utils/string_utils.ts
/node_modules/bson/src/symbol.ts
/node_modules/memory-pager/test.js
/node_modules/sparse-bitfield/test.js
/node_modules/mongodb/lib/timeout.js
/node_modules/mongodb/lib/timeout.js.map
/node_modules/mongodb/src/timeout.ts
/node_modules/bson/src/timestamp.ts
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/token_cache.js
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/token_cache.js.map
/node_modules/mongodb/src/cmap/auth/mongodb_oidc/token_cache.ts
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/token_machine_workflow.js
/node_modules/mongodb/lib/cmap/auth/mongodb_oidc/token_machine_workflow.js.map
/node_modules/mongodb/src/cmap/auth/mongodb_oidc/token_machine_workflow.ts
/node_modules/mongodb/lib/sdam/topology.js
/node_modules/mongodb/lib/sdam/topology.js.map
/node_modules/mongodb/src/sdam/topology.ts
/node_modules/mongodb/lib/sdam/topology_description.js
/node_modules/mongodb/lib/sdam/topology_description.js.map
/node_modules/mongodb/src/sdam/topology_description.ts
/node_modules/mongodb/lib/transactions.js
/node_modules/mongodb/lib/transactions.js.map
/node_modules/mongodb/src/transactions.ts
/node_modules/mongodb/tsconfig.json
/node_modules/mongodb/lib/bulk/unordered.js
/node_modules/mongodb/lib/bulk/unordered.js.map
/node_modules/mongodb/src/bulk/unordered.ts
/node_modules/mongodb/lib/operations/search_indexes/update.js
/node_modules/mongodb/lib/operations/update.js
/node_modules/mongodb/lib/operations/search_indexes/update.js.map
/node_modules/mongodb/lib/operations/update.js.map
/node_modules/mongodb/src/operations/search_indexes/update.ts
/node_modules/mongodb/src/operations/update.ts
/node_modules/mongodb/lib/gridfs/upload.js
/node_modules/mongodb/lib/gridfs/upload.js.map
/node_modules/mongodb/src/gridfs/upload.ts
/node_modules/@types/whatwg-url/lib/URL.d.ts
/node_modules/whatwg-url/lib/URL.js
/node_modules/@types/whatwg-url/lib/URL-impl.d.ts
/node_modules/whatwg-url/lib/URL-impl.js
/node_modules/whatwg-url/lib/url-state-machine.js
/node_modules/whatwg-url/lib/urlencoded.js
/node_modules/@types/whatwg-url/lib/URLSearchParams.d.ts
/node_modules/whatwg-url/lib/URLSearchParams.js
/node_modules/@types/whatwg-url/lib/URLSearchParams-impl.d.ts
/node_modules/whatwg-url/lib/URLSearchParams-impl.js
/node_modules/@mongodb-js/saslprep/dist/util.d.ts
/node_modules/@mongodb-js/saslprep/dist/util.d.ts.map
/node_modules/@mongodb-js/saslprep/dist/util.js
/node_modules/@mongodb-js/saslprep/dist/util.js.map
/node_modules/mongodb/lib/utils.js
/node_modules/whatwg-url/lib/utils.js
/node_modules/mongodb/lib/utils.js.map
/node_modules/bson/src/parser/utils.ts
/node_modules/mongodb/src/utils.ts
/node_modules/mongodb/lib/operations/validate_collection.js
/node_modules/mongodb/lib/operations/validate_collection.js.map
/node_modules/mongodb/src/operations/validate_collection.ts
/node_modules/whatwg-url/lib/VoidFunction.js
/node_modules/bson/src/utils/web_byte_utils.ts
/node_modules/@types/whatwg-url/webidl2js-wrapper.d.ts
/node_modules/whatwg-url/webidl2js-wrapper.js
/node_modules/mongodb/lib/write_concern.js
/node_modules/mongodb/lib/write_concern.js.map
/node_modules/mongodb/src/write_concern.ts
/node_modules/mongodb/lib/cmap/auth/x509.js
/node_modules/mongodb/lib/cmap/auth/x509.js.map
/node_modules/mongodb/src/cmap/auth/x509.ts
